.cta-banner {
  // background-color: hsl(var(--base-two));

  &__shell {
    border-radius: 24px;
    background-color: hsl(var(--base-two));
    border: 1px solid hsl(var(--black) / 0.1);
    padding: 28px;
    position: relative;
    overflow: hidden;


    h2 {
      color: hsl(var(--black));
      font-size: 40px;
      line-height: 1.08;
      margin-bottom: 20px;
   
    }

    p {
      margin-bottom: 0;
      color: hsl(var(--black) / 0.76);
      font-size: 18px;
      max-width: 42ch;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .btn {
      width: 100%;
      justify-content: center;
    }
  }

  &__outline-btn {
    border: 1px solid hsl(var(--black));
    color: hsl(var(--black));

    &:hover,
    &:focus,
    &:active {
      border-color: hsl(var(--base));
      background-color: hsl(var(--base));
      color: hsl(var(--white));
    }
  }
}

@media (max-width: 991px) {
.cta-banner__shell h2{
  font-size: 30px;
}
}

@media (max-width: 575px) {
  .cta-banner__shell h2{
  font-size: 22px;
}
  .cta-banner {
    &__shell {
      padding: 18px;
    }
  }
}
