/* ======================  Process Section Start  ======================*/
.process-section{
  background-color: hsl(var(--base-two) / 0.02);
}

.process-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    gap: 24px;
   
}

@media screen and (max-width: 991px) {
    .process-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 575px) {
    .process-content {
        grid-template-columns: repeat(1, 1fr);
    }
}

.process-content__item {
    background-color: hsl(var(--base) / 0.01);
    border-radius: 24px;
    border: 1px solid hsl(var(--base-two));
    padding: 30px 28px;
    text-align: center;
    transition: 0.3s;

    &:hover{
        background-color: hsl(var(--base-two));

        .text-line__text{
            fill: hsl(var(--white));
        }

         h6{
            color: hsl(var(--white)) !important;
        }

        p{
            color: hsl(var(--white) / 0.8);
        }
    }
}

@media screen and (max-width: 1199px) {
    .process-content__item {
        padding: 24px 15px;
    }
}

.process-content__item:nth-child(even) {
    margin-top: 90px;
}

@media screen and (max-width: 991px) {
    .process-content__item:nth-child(even) {
        margin-top: 0;
    }
}

.process-content__item .process-step {
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: hsl(var(--white)/0.2);
    font-family: Oswald;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    text-transform: capitalize;
    color: transparent;
}

.process-content__item .text-line {
    display: block;
    margin: 0 auto;
    font-family: "Oswald";
    height: 78px;
    overflow: visible;
}

.process-content__item .text-line__text {
    stroke: hsl(var(--base-two) / 0.22);
    stroke-width: 1.8px;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    fill: hsl(var(--base-two));
    font-size: 80px;
    font-family: "Oswald";
    font-weight: 700;
    letter-spacing: 0.04em;
    paint-order: stroke fill;
    -webkit-animation: dash 1.8s ease forwards;
    animation: dash 1.8s ease forwards;
}

.process-content__item h6 {
    margin: 25px 0 15px;
}

.process-content__item.active .text-line__text {
    -webkit-animation: dash 1.8s ease forwards;
    animation: dash 1.8s ease forwards;
}

@-webkit-keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

/* ======================  Process Section End  ======================*/
