<!-- ============================= Blog Sidebar Start ======================== -->
<aside class="blog-sidebar">
  <div class="blog-sidebar__header">
    <h5 class="blog-sidebar-block__title">Latest Blog</h5>
  </div>
  <div class="blog-sidebar__body">
    <ul class="latest-blog">
      <li class="latest-blog-item">
        <div class="latest-blog-item__thumb">
          <a href="blog-details.html">
            <img src="assets/images/thumbs/blog1.png" alt="img" />
          </a>
        </div>
        <div class="latest-blog-item__content">
          <h6 class="latest-blog-item__title">
            <a href="blog-details.html">Lorem ipsum dolor sit amet.</a>
          </h6>
          <span class="latest-blog-item__date fs-13">June 23 202</span>
        </div>
      </li>
      <li class="latest-blog-item">
        <div class="latest-blog-item__thumb">
          <a href="blog-details.html">
            <img src="assets/images/thumbs/blog2.png" alt="image"
          /></a>
        </div>
        <div class="latest-blog-item__content">
          <h6 class="latest-blog-item__title">
            <a href="blog-details.html">Lorem ipsum dolor sit amet.</a>
          </h6>
          <span class="latest-blog-item__date fs-13">June 23 202</span>
        </div>
      </li>
      <li class="latest-blog-item">
        <div class="latest-blog-item__thumb">
          <a href="blog-details.html">
            <img src="assets/images/thumbs/blog3.png" alt="image"
          /></a>
        </div>
        <div class="latest-blog-item__content">
          <h6 class="latest-blog-item__title">
            <a href="blog-details.html">Lorem ipsum dolor sit amet.</a>
          </h6>
          <span class="latest-blog-item__date fs-13">June 23 202</span>
        </div>
      </li>
    </ul>
  </div>
</aside>
<!-- ============================= Blog Sidebar End ======================== -->
