<!-- ==================== Header Start Here ==================== -->
<header class="header" id="header">
  <div class="container">
    <nav class="header__frame" aria-label="Main navigation">
      <a class="header__logo" href="index.html">Viser<span>Chat</span></a>

      <div class="header__desktop d-none d-lg-flex">
        <ul class="header-menu">
          <li class="header-menu__item">
            <a class="header-menu__link" href="index.html">Home</a>
          </li>
          <li class="header-menu__item">
            <a class="header-menu__link" href="about.html">About</a>
          </li>
          <li class="header-menu__item">
            <a class="header-menu__link" href="pricing.html">Pricing</a>
          </li>
          <li class="header-menu__item">
            <a class="header-menu__link" href="blog.html">Blog</a>
          </li>
          <li class="header-menu__item">
            <a class="header-menu__link" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>

      <div class="header__actions d-none d-lg-flex">
        <a href="login.html" class="header__login">Login</a>
        <a href="registration.html" class="btn btn--base-two header__trial-btn"
          >Start Free Trial</a
        >
      </div>

      <button
        class="header__toggle d-lg-none"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#headerOffcanvas"
        aria-controls="headerOffcanvas"
        aria-label="Toggle navigation"
      >
        <span></span>
        <span></span>
        <span></span>
      </button>
    </nav>
  </div>

  <div
    class="offcanvas offcanvas-end header-offcanvas"
    tabindex="-1"
    id="headerOffcanvas"
    aria-labelledby="headerOffcanvasLabel"
  >
    <div class="offcanvas-header">
      <h5
        class="offcanvas-title header-offcanvas__title"
        id="headerOffcanvasLabel"
      >
        Viser<span>Chat</span>
      </h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <ul class="header-offcanvas__menu">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="pricing.html">Pricing</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>

      <div class="header-offcanvas__actions">
        <a href="login.html" class="btn btn-outline--base">Login</a>
        <a href="registration.html" class="btn btn--base-two"
          >Start Free Trial</a
        >
      </div>
    </div>
  </div>
</header>
<!-- ==================== Header End Here ==================== -->
