<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Title -->
    <title>ViserChat - AI Live Chat SaaS Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/logo/favicon.png" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <!-- Fontawesome -->
    <link rel="stylesheet" href="assets/css/fontawesome.min.css" />
    <!-- Slick -->
    <link rel="stylesheet" href="assets/css/slick.css" />
    <!-- line awesome -->
    <link rel="stylesheet" href="assets/css/line-awesome.min.css" />
    <!-- aos.css -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <!-- Odometer -->
    <link rel="stylesheet" href="assets/css/odometer.css" />
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="assets/css/daterangepicker.css" />
    <!-- Select2 -->
    <link rel="stylesheet" href="assets/css/select2.min.css" />
    <!-- Main css -->
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>

  <body>
    @@include("./_preloader.html")
    <!--==================== Body Overlay Start ====================-->
    <div class="body-overlay"></div>
    <!--==================== Body Overlay End ====================-->

    <!--==================== Sidebar Overlay End ====================-->
    <div class="sidebar-overlay"></div>
    <!--==================== Sidebar Overlay End ====================-->

    <!--==================== Scroll To Top Start ====================-->
    <button class="scroll-top" type="button">
      <svg
        class="scroll-top-progress"
        width="100%"
        height="100%"
        viewBox="-1 -1 102 102"
      >
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
      </svg>
    </button>
    <!--==================== Scroll to Top End ====================-->
  </body>
</html>
